<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="redpide.fr" version="1.0.0">
  <name>REDPIDE</name>
  <description>REDPIDE</description>
  <author href="http://www.redpide.fr/" email="zhuo809@gmail.com">Zhuo ZHANG</author>
  <content src="index.html"/>
  <preference name="permissions" value="none"/>
  <preference name="orientation" value="portrait"/>
  <preference name="target-device" value="universal"/>
  <preference name="fullscreen" value="true"/>
  <preference name="webviewbounce" value="true"/>
  <preference name="prerendered-icon" value="true"/>
  <preference name="stay-in-webview" value="false"/>
  <preference name="ios-statusbarstyle" value="black-opaque"/>
  <preference name="detect-data-types" value="true"/>
  <preference name="exit-on-suspend" value="false"/>
  <preference name="KeepRunning" value="true" />
  <preference name="show-splash-screen-spinner" value="true"/>
  <preference name="SplashScreen" value="splash" />
  <preference name="SplashScreenDelay" value="4000" />
  
  <preference name="auto-hide-splash-screen" value="true"/>
  <preference name="disable-cursor" value="false"/>
  <preference name="android-minSdkVersion" value="14"/>
  <preference name="android-installLocation" value="auto"/>
  
  <preference name="phonegap-version" value="cli-5.4.1" />
  
  <gap:plugin name="org.apache.cordova.media"/>
  <plugin name="com.mcsqd.cordova.plugins.streamingmedia" spec="0.1.4" source="pgb" />
  
  <icon src="favicon.png"/>
  <icon src="assets/img/icons/favicon_152.png" gap:platform="android" gap:qualifier="ldpi"/>
  <icon src="assets/img/icons/favicon_409.png" gap:platform="android" gap:qualifier="mdpi"/>
  <icon src="assets/img/icons/favicon_409.png" gap:platform="android" gap:qualifier="hdpi"/>
  <icon src="assets/img/icons/favicon_409.png" gap:platform="android" gap:qualifier="xhdpi"/>
  <icon src="assets/img/icons/favicon_409.png" gap:platform="blackberry"/>
  <icon src="assets/img/icons/favicon_409.png" gap:platform="blackberry" gap:state="hover"/>
  <icon src="assets/img/icons/favicon_57.png" gap:platform="ios" width="57" height="57"/>
  <icon src="assets/img/icons/favicon_72.png" gap:platform="ios" width="72" height="72"/>
  <icon src="assets/img/icons/favicon_120.png" gap:platform="ios" width="114" height="114"/>
  <icon src="assets/img/icons/favicon_152.png" gap:platform="ios" width="144" height="144"/>
  <icon src="assets/img/icons/favicon_409.png" gap:platform="webos"/>
  <icon src="assets/img/icons/favicon_409.png" gap:platform="winphone"/>
  <icon src="assets/img/icons/favicon_409.png" gap:platform="winphone" gap:role="background"/>
  <gap:splash src="assets/img/startup/1182x2208.png" gap:platform="android" gap:qualifier="port-ldpi"/>
  <gap:splash src="assets/img/startup/1182x2208.png" gap:platform="android" gap:qualifier="port-mdpi"/>
  <gap:splash src="assets/img/startup/1182x2208.png" gap:platform="android" gap:qualifier="port-hdpi"/>
  <gap:splash src="assets/img/startup/1182x2208.png" gap:platform="android" gap:qualifier="port-xhdpi"/>
  <gap:splash src="assets/img/startup/1242x2148.png" gap:platform="blackberry"/>
  <gap:splash src="assets/img/startup/750x1294.png" gap:platform="ios" width="320" height="480"/>
  <gap:splash src="assets/img/startup/Default-568h@2x.png" gap:platform="ios" width="640" height="960"/>
  <gap:splash src="assets/img/startup/1242x2148.png" gap:platform="ios" width="640" height="1136"/>
  <gap:splash src="assets/img/startup/1242x2148.png" gap:platform="ios" width="768" height="1024"/>
  <gap:splash src="assets/img/startup/1242x2148.png" gap:platform="ios" width="1024" height="768"/>
  <gap:splash src="assets/img/startup/1242x2148.png" gap:platform="winphone"/>
  <access origin="*"/>
  <allow-intent href="http://*/*"/>
  <allow-intent href="https://*/*"/>
  <allow-intent href="tel:*"/>
  <allow-intent href="sms:*"/>
  <allow-intent href="mailto:*"/>
  <allow-intent href="geo:*"/>
  <platform name="android">
    <preference name="Fullscreen" value="false" />
	<splash src="assets/img/startup/750x1294.png" density="port-hdpi"/>
    <splash src="assets/img/startup/1182x2208.png" density="port-ldpi"/>
    <splash src="assets/img/startup/1182x2208.png" density="port-mdpi"/>
    <splash src="assets/img/startup/1242x2148.png" density="port-xhdpi"/>
	<allow-intent href="market:*"/>
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*"/>
    <allow-intent href="itms-apps:*"/>
  </platform>
</widget>